<footer>
    <div class="container-fluid p-5">
        <div class="col-12 col-md-4">
            <img src="../static/img/elherbario_logo.svg" alt="" class="img-fluid w-100">
            <p>Dirección : Carrera 43D # 10-30, Medellín, Colombia. Ubicado entre la calle 10 y la 10A, dos cuadras abajo del Parque del Poblado</p>
            <p>Horarios: Lunes a sábado de 12:00pm a 2:45 pm y de 6:00pm a 10:00pm</p>
            <p>Telefono: (604) 3112357</p>
            <p>Whatsapp: (312) 833 0240</p>
            <i class="bi bi-facebook fs-1"></i>
            <i class="bi bi-instagram fs-1"></i>
        </div>
        <div class="col-12 col-md-8">
            <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=550&amp;height=350&amp;hl=en&amp;q=Parque Poblado&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://formatjson.org/">format json</a></div><style>.mapouter{position:relative;text-align:right;width:550px;height:350px;}.gmap_canvas {overflow:hidden;background:none!important;width:550px;height:350px;}.gmap_iframe {width:550px!important;height:350px!important;}</style></div>
        </div>
    </div>
</footer>